.contenedorGeneral{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.card-descripcion{
    border: 1px solid red;
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
}

.card-titulo{
    margin-top: 15px;
    background-color: rgb(231, 218, 218);
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.card-descripcion p{
    text-align: justify;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.card {
    width: 300px;
    margin-top: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-3%);
}

.detalle-titulo {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(202, 177, 177);
    text-align: center;
}

.detalle-titulo:hover {
    color: crimson;
}

.image-detalle {
    width: 250px;
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
}

.precio-detalle{
    margin-top: 15px;
    font-size: 1.5rem;
    color: blue;
    font-weight: 700;
    text-align: center;
}

.terminarCompra{
    text-decoration: none;
    background-color: rgb(0, 55, 0);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-align: center;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.terminarCompra:hover{
    color: red;
}

/* Media Querie */

@media (max-width: 860px) {
    .contenedorGeneral{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-descripcion{
        width: 300px;
    }
}